#display-panel {
    margin: 2vh 3vw;
    padding: 0;
}

#code-wrapper {
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    /* border-radius: 15px; */
    box-shadow:  5px 5px 3px #d4d4d4;
}

#info-card {
    border-radius: 5px;
    box-shadow:  2px 2px 2px #d5d5d5;
    width: 280px;
}

#card-grid {
    margin-top: 5vh;
}

#tag {
    font-family: Consolas;
    margin-right: 7px;
    padding: 1px 4px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    color:grey;
    font-size: 12px;
    display: inline;
    white-space : nowrap;
}